<html>
        <link rel="stylesheet" type="text/css" href="users.css">
    <body>
        <form action=/users/ method='POST'>
            <fieldset>
                    <legend>ADD USER</legend>
            USER NAME : <input placeholder="Please Provide UserName" name="username"> <br>
            PASSWORD : <input type='password' placeholder="Please Provide Pasword" name="password"> <br>
            EMAIL : <input placeholder="Please Provide Email" name="email"> <br>
            DOB : <input placeholder="Please Provide DOB" name="DOB"> <br>
            <input type="submit" value="Submit">
        </fieldset>
        </form>
    </body>
</html>